<h1>Contatti</h1>
<div class="contatti-block">
  <div class="sinistra">
   <p>
    <h4>Belvedere Design S.p.A.</h4>
    <p>Via Marsala 3, 20121 Milano(MI) Italia</p>

    <p>Capitale Sociale 100.000€<br>
      P.IVA 00154567345</p>
    <h4>Recapiti Telefonici</h4>
    <p>Telefono : +39 023456432<br>
      Fax:		:  +39 025462348 </p>
     <h4>Email</h4>
     <p>customer.service@belvedere.it<br>
     contract.division@belvedere.it</p>
   </p>
  </div>
  <div class="destra">
    <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=via+marsala+3+milano&amp;aq=&amp;sll=45.478324,9.187986&amp;sspn=0.010773,0.027294&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Marsala,+3,+Milano,+Lombardia,+Italy&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  </div>
</div>