<script type="text/javascript">

    jQuery(function($){
        $('.prodotti .container').css("background-image",'none');
        $.supersized({
            autoplay				:	0,
            fit_portrait         	:   0,
            fit_landscape			:   1,
            thumbnail_navigation    :   0,
            slides 					:  	[
                {image : '/data/prodotti/ingresso_bloom.jpg'},
                {image : '/data/prodotti/discoteca_1.jpg'}
            ]

        });
    });

</script>


<div class="navigazione-block">
  <div class="destra">
    <img src="/assets/supersized/destra.png">
  </div>
  <div class="sinistra">
    <img src="/assets/supersized/sinistra.png">
  </div>
</div>

<div class="product-info">
  <h2>Ingresso Bloom</h2>
  <p>Allestito per il Salone del Mobile 2013 è stato studiato per sfruttare al massimo lo spazio tuttavia senza appesantirlo.
  </p>
</div>

<script>
    $(function() {
        $('.container').css('padding','0');
    });
</script>