<h1>Partners</h1>
<p>BELVEDERE DESIGN si avvale di molti partner per fornire ai nostri clienti un servizio il più completo possibile. Tutti i nostri partner rappresentano l’eccellenza nel loro campo di appartenenza,
  con qualità sempre 100% italiana</p>
<div class="partner-block">
  <img src="<%= asset_path 'molteni.png' %>">
  <img src="<%= asset_path 'armanicasa.png' %>">
  <img src="<%= asset_path 'visionnaire.png' %>">
  <img src="<%= asset_path 'dada.png' %>">
</div>