<h1>I Nostri Serivizi</h1>
<h2>Pacchetti Arredamento</h2>
<div class="padding">


<h4>Luxury</h4>
  <p>Scegliendo il pacchetto Luxury il cliente Belvedere è accompagnato e collolato in ogni fase, dalla progettazione alla scelta degli arredi, dalla consegna al montaggio e la post-vendita</p>
<h4>Smart</h4>
<p>Il pacchetto Smart è la soluzione ideale per chi vuole un arredamento di qualità ad un prezzo contenuto.</p>
</div>
<h2>Personalizzazione</h2>
<p>I nostri designer sono sempre al lavoro per fornirvi soluzioni che meglio si adattano ad ogni vostra esigenza.<br>
Non esistate a <a href="/contatti">contattarci</a> per qualunque vostra richiesta</p>
<h2>Consegna e Montaggio</h2>
<p>Per ogni prodotto del nostro catologo sono sempre disponibili servizi di consegna e montaggio.</p>