<div class="hero-unit">
  <h1>Belvedere Design</h1>
  <p>Da qui potrai gestire news, eventi, designers e prodotti<br>
  <span class="subtitle">Progetto di Riccardo Mastellone, Riccardo Motta e Alberto Fumagalli per il corso di Hypermedia Applications 2013</span></p>

</div>
