<div class="3columns columns srlist">
  <div class="firstcolumn column">
    <h1>I Nostri Showroom</h1>
    <p>Trova un Showroom vicino a te,<br>inserisci il tuo indirizzo:</p>
    <input type="text" name="indirizzo" placeholder="Via Marsala 2, 20121 Milano, Italia">
    <div class="showroom-list">

    </div>
  </div>
  <div class="column filled" style="display:none"></div>


</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    $(function() {
    $('.prodotti .container').css('background-image','url(/assets/bg_showroom.jpg)');
    $('input[type=text]').keyup(function(e) {
        if(e.keyCode == 13) {
            cercaShowroom();
        }
    });
    });
</script>