<div class="3columns columns srlist">
  <div class="firstcolumn column">
    <h1>I Nostri Showroom</h1>
    <p>Trova un Showroom vicino a te,<br>inserisci il tuo indirizzo:</p>
    <input type="text" name="indirizzo" placeholder="Via Marsala 2, 20121 Milano, Italia">
    <div class="showroom-list">

    </div>
  </div>
  <div class="secondcolumn column"></div>


</div>