<p>
  <strong>Nome:</strong>
  <p><%= @designer.name %></p>
</p>

<p>
  <strong>Descrizione:</strong>
  <p><%= nl2br(@designer.description).html_safe %><p>
</p>
<%= image_tag("/data/#{@designer.image_url}") %>
