<div class="3columns columns">
  <div class="firstcolumn column">
    <h1>Categorie</h1>
    <% @categories.each do |cat| %>
        <h5><a href="javascript:showCategoryList(<%= cat.id.to_s %>)"><%= cat.name %></a></h5>
    <% end %>
  </div>
  <div class="secondcolumn column"></div>


</div>
