<div class="3columns columns catlist">
  <div class="firstcolumn column">
    <h1>Top PRodotti</h1>
    <% @prodotti.each do |p| %>
        <h5><a href="/product/<%= p.id.to_s %>"><%= p.name %></a></h5>
    <% end %>
  </div>
  <div class="secondcolumn column"></div>
</div>

<script>
    $(function() {
        $('.prodotti .container').css('background-image','url(/assets/bg_topprodotti.jpg)');
    });
</script>