// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$sfondo: #000000;
$testo: #eeeeee;
$link: #ffffff;
$contentbg: #101010;

/** fonts */

@font-face {
  font-family: 'PubliqueLight';
  src: url('/assets/publique_light-webfont.eot');
  src: url('/assets/publique_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/publique_light-webfont.woff') format('woff'),
  url('/assets/publique_light-webfont.ttf') format('truetype'),
  url('/assets/publique_light-webfont.svg#publiquelight') format('svg');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'PubliqueMedium';
  src: url('/assets/publique_medium-webfont.eot');
  src: url('/assets/publique_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/publique_medium-webfont.woff') format('woff'),
  url('/assets/publique_medium-webfont.ttf') format('truetype'),
  url('/assets/publique_medium-webfont.svg#PubliqueMedium') format('svg');
  font-weight: normal;
  font-style: normal;

}


a, a:visited {
   color:$link;
   text-decoration: none;
}
a:hover {
  text-decoration: underline
}
body {
  background: $contentbg;

  color:  $testo;
  font-family: 'PubliqueLight', Helvetica , Verdana, Arial, Tahoma, Sans-Serif;
}

/** header */
header .logo {
  padding-top: 20px;
  margin-left:20px;
  height: 91px;
}
header .logo img {
  width: 300px;
}
header ul {
  padding: 0 0 0 20px;
  margin:3px 0 7px 0;
  text-transform: uppercase;
  list-style: none;
}
header ul li{
  display: inline-block;
  padding-left:6%;
}
header ul li:first-child {
  padding-left: 0;
}
header {
  background: $sfondo;
  background-image: url(rami.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  border-bottom: 1px solid $testo;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}

/*** footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  background: $sfondo;
  border-top: 1px solid $testo;
}

/** content & general **/
#loader {
  display: none;
  position: absolute;
  left:50%;
  margin-left:-40px;
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
  top:50%;
}
.container {
  margin-top: 183px;
  padding: 20px 30px;
}

h1,h2 {
   text-transform: uppercase;
   font-weight: lighter;
 }

h4 {
  text-transform: uppercase;
}

h5 {
  font-weight: lighter;
  font-size: 1.05em;
  letter-spacing: 1px;
  margin: 10px 0;
}

.padding {
  padding-left: 15px;
}

/** partners **/
.partner-block img {
  width: 22%;
  padding: 10px;
}

/** news **/
.news-block div {margin-bottom: 40px;}

/** contatti **/
.contatti-block {
  overflow: auto;
}
.contatti-block div {
  float:left;
}
.contatti-block .destra {
  width: 70%;
}
.contatti-block .sinistra {
  width: 30%;
}
.contatti-block iframe {
  border: 0;
  width: 95%;
  height: 360px;
}

/** colonne */
.column {
  padding: 20px 15px 0 30px;
  background: $contentbg;
  float: left;
  border-left: 1px solid $testo;
}
.firstcolumn, .secondcolumn {
  width:480px;
}


/** designer */
.designers .container {
  background-image: url(/assets/bg_designer.jpg);
  background-attachment: fixed;
  padding: 0;
  background-size: cover;
  background-repeat:no-repeat;
}

.designers .secondcolumn {
  display: none;
}
.minuatura-prodotto {
  width:100px;
  float:left;
  border: 3px solid $testo;
  margin: 10px;
}

/** prodotti */
.prodotti .container {
  background-image: url(/assets/bg_prodotti.jpg);
  background-attachment: fixed;
  padding: 0;
  background-size: cover;
  background-repeat:no-repeat;
}

.prodotti .secondcolumn {
  display: none;
}

/** dettaglio prodotto **/
.product-info {
  position: absolute;
  bottom: 44px;
  padding: 0 20px;
  background: rgba(0,0,0,0.8);
  width: 100%;
}
.des-detail {
  text-transform: lowercase;
  font-size: 0.7em;
  margin-left:30px;
}
.des-detail p {
  font-size: 0.9em;
}

/** supersized */

.navigazione-block {
  position: absolute;
  width: 100%;
  top: 50%;
}
.navigazione-block img {
  cursor: pointer;
}
.navigazione-block .sinistra img:hover{
  position: relative;
  left:2px;
}
.navigazione-block .destra img:hover{
  position: relative;
  left:-2px;
}
.navigazione-block .destra {
  position: absolute;
  right: 0;
}

#supersized-loader { display: none; position:absolute; top:50%; left:50%; z-index:0; width:80px; height:80px; margin:-40px 0 0 -40px; text-indent:-999em; background:url(/assets/loader.gif) no-repeat center center;}

#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#111 url(/assets/loader.gif) no-repeat center center; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }