<h1>News & Eventi</h1>

<div class="news-block">
<% @news.each do |notizia| %>
    <div>
      <h4><%= notizia.title %></h4>
      <p><%= nl2br(notizia.text).html_safe %></p>

    </div>
<% end %>
</div>