<!DOCTYPE html>
<html>
<head>
  <title>Belvederedesign Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><a href="/admin">Pannello Admin</a></h1>
  <nav>
    <ul>
      <li><a href="/admin/news">Gestione News & Eventi</a></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>