<!DOCTYPE html>
<html>
<head>
  <title>Belvederedesign</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <header>
        <h1><a href="/">BELVEDERE DESIGN</a></h1>
        <nav>
          <ul>
            <li><a href="/get-inspired">Get Inspired</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
            <li><a href="/designers">Designers</a></li>
            <li><a href="/showroom">Showroom</a></li>
            <li><a href="/l-azienda">L'Azienda</a></li>
            <li><a href="/servizi">Servizi</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/news-and-events">News&Eventi</a></li>
          </ul>
        </nav>
      </header>

<%= yield %>

</body>
</html>
